// Place all the styles related to the bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
}
.row {
	padding-top:5px;
}
div {
	// border: 1px solid orange;
	background-color: steelblue;	
}
#bars-image-index {
	padding: 5px;
	margin-top: -12px;
	margin-bottom: 10px;
}
.inline-button {
	width: 100%;
}
.postfix {
	background-color:red;
}
#inline-buttons {
	width: 100%;
	position:inline;
}
#zipcode {
	position: inline;
	width: 100%;
	float:left;
}
#filter-button {
	float:right;
	background-color: rgb(200,200,200);
	color: black;
}
#filter-bar {
	background-color:gray;
}

